{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", {
      "allow": ["_id"],
      "allowAfterThis": false,
      "allowAfterSuper": false,
      "enforceInMethodNames": true
    }]
 }
}